div.second-main {
    margin: 5% 15.5%;
    position: relative;
}

div.second-main .one-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

div.second-main .watchlist-one-section {
    gap: 0;
}

/* div.second-main .one-section div:nth-child(2) > a {
    background-color: red;
} */

div.second-main .main-page {
    gap: 0;
}


div.second-main .one-section .title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

div.second-main .one-section .title .buttons {
    text-align: end;
}

div.second-main .one-section .title a, div.second-main .one-section .title h2 {
    font-size: 2em;
    color: #c3c3c3;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

div.second-main .one-section .title h2 {
    font-weight: 400;
    font-size: 3em;
}





div.second-main .one-section > div:nth-child(2) > a {
    height: 10%;
    top: -17%;
    width: 3%;
}

div.second-main .one-section > div:nth-child(2) > a:first-of-type {
    left: 93.5%;
}

.arrow {
    width: 100%;
}





.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards .card {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1%;
    background-color: #151515;
}

.cards .card img {
    width: 100%;
    border-radius: 10px;
}

.cards .card > p {
    color: #c3c3c3;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    text-align: center;
}

.cards .card .star-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.cards .card .star-div .img-container {
    width: 17%;
    margin-right: 5%;
    display: flex;
}

.cards .card .star-div p {
    padding: 0;
    margin: 0;
    align-self: center;
    font-size: 1em;
    color: #c3c3c3;
}

.cards .card a {
    background-color: #1c1c1c;
    border-radius: 10px;
    font-family: inherit;
    text-decoration: none;
    color: #C3C3C3;
    font-size: 1em;
    padding: 0.3em 1em;
    border-top: 3px solid #303030;
    width: 90%;
    font-weight: 300;
    overflow-anchor: auto;
}

.cards .card img {
    width: 100%;
}

.no-movies-in-watchlist {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.no-movies-in-watchlist p {
    margin-bottom: 0.5em;
    font-size: 1.6em;
    font-weight: 500;
}

.no-movies-in-watchlist .browse-movies, .no-movies-in-watchlist .login {
    text-decoration: none;
    background-color: #f2c318;
    border: none;
    border-bottom: outset 3px #b79312;
    border-right: outset 2px #b79312;
    border-radius: 10px;
    padding: 0.3em 1em;
    font-size: 1.2em;
    color: #121212;
    width: 40% !important;
    text-align: center;
    
}

.no-movies-in-watchlist .login {
    width: 25% !important;
}

.no-movies-in-watchlist .browse-movies:hover, .no-movies-in-watchlist .login:hover {
    background-color: #f2c318c4;
}

.list-browse-movies, .list-login {
    margin-bottom: 40%;
}