.box {
    width: 45%;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em;
    border-radius: 15px;
}

.for-reviews-section-box {
    width: 85%;
}

.box .top p, .box h6 {
    color: rgb(195 195 195);
}

.box .top > p:nth-child(1) {
    color: #6a6a6a;
    margin: 0;
    margin-bottom: 1em;
}

.box .top > p:nth-child(1) span {
    color: #f5c518;
}

.box .top {
    display: flex;
    justify-content: space-between;
}

.box .top .buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.box .top .buttons .heart-container-red, .box .top .heart-container-red-2 {
    background-color: transparent;
    width: 15% !important;
    display: flex;
    align-items: center;
    border: none;
}

.box .top .heart-container-red-2 {
    width: 8% !important;
}

.box .top .buttons .heart-container-red img, .box .top .heart-container-red-2 img {
    width: 100%;
}

.box .top .heart-container-empty, .box .top .heart-container-empty-2 {
    background-color: transparent;
    border: none;
    width: 15% !important;
    display: flex;
    align-items: center;
}

.box .top .heart-container-empty-2 {
    width: 8% !important;
}

.box .top .heart-container-empty img, .box .top .heart-container-empty-2 img {
    width: 100%;
}

.box .top .buttons button {
    width: 35%;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0;
}

.box .top .buttons .edit {
    background-color: #524729c4;
}

.box .top .buttons .edit:hover {
    background-color: #7c6c3f;
}

.box .top .buttons .delete {
    background-color: #68323294;
}

.box .top .buttons .delete:hover {
    background-color: #803e3e;
}

.box h6 {
    padding: 0;
    margin: 0;
    font-size: 1.4em;
}

.box .post-info {
    display: flex;
}

.box .post-info a {
    color: #f5c518;
}

.box .post-info a:hover {
    text-decoration: underline;
}

.box .review-desc {
    color: #c3c3c3;
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 0;
}





@media screen and (max-width: 600px) {
    .box {
        width: 48%;
        height: 300px;
        overflow: scroll;
        background-color: #151515;
        display: flex;
        flex-direction: column;
        padding: 1.5em 1.5em;
        border-radius: 15px;
    }
    
    .for-reviews-section-box {
        width: 85%;
    }
    
    .box .top p, .box h6 {
        color: rgb(195 195 195);
    }
    
    .box .top > p:nth-child(1) {
        color: #6a6a6a;
        margin: 0;
        margin-bottom: 1em;
    }
    
    .box .top > p:nth-child(1) span {
        color: #f5c518;
    }
    
    .box .top {
        display: flex;
        justify-content: space-between;
    }
    
    .box .top .buttons {
        width: 65%;
        display: flex;
        justify-content: space-between;
    }
    
    .box .top .buttons .heart-container-red, .box .top .heart-container-red-2 {
        background-color: transparent;
        width: 15% !important;
        display: flex;
        align-items: center;
        border: none;
    }
    
    .box .top .heart-container-red-2 {
        width: 8% !important;
    }
    
    .box .top .buttons .heart-container-red img, .box .top .heart-container-red-2 img {
        width: 100%;
    }
    
    .box .top .heart-container-empty, .box .top .heart-container-empty-2 {
        background-color: transparent;
        border: none;
        width: 15% !important;
        display: flex;
        align-items: center;
    }
    
    .box .top .heart-container-empty-2 {
        width: 17% !important;
        height: 2em;
    }
    
    .box .top .heart-container-empty img, .box .top .heart-container-empty-2 img {
        width: 100%;
    }
    
    .box .top .buttons button {
        width: 40%;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 0;
        height: 2em;
    }
    
    .box .top .buttons .edit {
        background-color: #524729c4;
    }
    
    .box .top .buttons .edit:hover {
        background-color: #7c6c3f;
    }
    
    .box .top .buttons .delete {
        background-color: #68323294;
    }
    
    .box .top .buttons .delete:hover {
        background-color: #803e3e;
    }
    
    .box h6 {
        padding: 0;
        margin: 0;
        font-size: 1.1em;
    }
    
    .box .post-info {
        display: flex;
    }
    
    .box .post-info a {
        color: #f5c518;
        font-size: 1em;
    }
    
    .box .post-info a:hover {
        text-decoration: underline;
    }
    
    .box .review-desc {
        color: #c3c3c3;
        line-height: 1.5em;
        font-size: 1.2em;
        margin: 0;
    }
}