aside {
    width: 11% !important;
}

aside ul {
    display: flex !important;
    flex-direction: column !important;
    line-height: 2em !important;
    font-size: 1.2em !important;
    margin-top: 3em !important;
    padding: 0 !important;
}

aside ul li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
    color: #c3c3c3 !important;
}
