div.second-main {
    margin: 10% 0;
}

div.second-main .one-section {
    display: flex;
    flex-direction: column;
}

div.second-main .one-section .title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

div.second-main .one-section .title h2 {
    padding: 0;
    margin: 0;
    color: #c3c3c3;
    font-size: 2em;
}




div.second-main .one-section > div:nth-child(2) > a {
    height: 10%;
    top: -17%;
    width: 3%;
}

div.second-main .one-section > div:nth-child(2) > a:first-of-type {
    left: 93.5%;
}

.arrow {
    width: 100%;
}





div.second-main .one-section .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.second-main .one-section .cards .card {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}

div.second-main .one-section .cards .card img {
    width: 100%;
    border-radius: 10px;
}


div.photos .one-section .cards .card {
    width: 23%
}