.card {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}


.card {
    width: 23%
}