.dropdown-container {
    padding: 0;
    display: flex;
    width: 70%;
    align-items: center;
    background-color: transparent;
}

.dropdown-container:hover, .dropdown-container:active {
    background-color: transparent !important;
}




.profile-img-container {
    width: 100%;
}

.profile-img-container img {
    width: 100%;
}



.dropdown-items {
    border-radius: 10px;
}

.dropdown-item {
    background-color: #1d1d1d;
    padding: 0.6em 1.2em;
    border-bottom: solid 1px black;
    font-weight: 500;
    font-size: 1em;
}

.dropdown-item:hover {
    background-color: #3d3d3d;
    color: #000000;
}
