aside {
    width: 11%;
}

aside ul {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    font-size: 1.2em;
    margin-top: 3em;
    padding: 0;
}

aside ul li {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
    color: #c3c3c3;
}

aside ul li a:hover {
    color: #e6b91e;
}