header {
    background-color: #080808;
    display: flex;
    padding: 1% 15%;
    display: flex;
    align-items: center;
}

header a.img-logo {
    width: 6%;
    display: flex;
    height: 100%;
}

header a.img-logo img {
    width: 100%;
    border-radius: 3px;
}

header nav {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    width: 20%;
    justify-content: center;
}

header nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    align-items: center;
}

header nav ul li {
    list-style: none;
    text-decoration: none
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #C3C3C3;
}

header nav ul li a:hover {
    color: #e6b91e;
}

header section.search-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

header section.search-bar-section input {
    width: 100%;
    height: 95%;
    background-color: #222222;
    color: azure;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-family: inherit;
    font-size: 1.1em;
}

header ul.last-links {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 3%;
    width: 11%;
    justify-content: space-between;
    align-items: center;
}

header ul.last-links > li {
    list-style: none;
    width: 60%;
}

header ul.last-links > li:nth-child(2) {
    width: 35%;
}

header ul.last-links li a {
    text-decoration: none;
    color: #C3C3C3;
    font-size: 1.1em;
}

header ul.last-links li a:hover {
    color: #e6b91e;
}

.search-bar-section .discovered-movies {
    position: absolute;
    background-color: #080808;
    margin-top: 6%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 3% 3%;
}





@media screen and (max-width: 600px) {
    
    header {
        background-color: #080808;
        display: flex;
        padding: 7% 4%;
        display: flex;
        align-items: center;
    }
    
    header a.img-logo {
        width: 22%;
        display: flex;
        height: 100%;
    }
    
    header a.img-logo img {
        width: 100%;
        border-radius: 3px;
    }
    
    header nav {
        display: flex;
        margin-left: 3%;
        margin-right: 0;
        width: 0;
        justify-content: center;
    }
    
    header nav ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 0;
        margin: 0;
        align-items: center;
        display: none;
    }
    
    header nav ul li a {
        text-decoration: none;
        font-size: 0;
    }
    
    header section.search-bar-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30em;
        position: relative;
    }
    
    header section.search-bar-section input {
        width: 100%;
        height: 85%;
        background-color: #222222;
        color: azure;
        border: none;
        border-radius: 10px;
        padding: 0.7em;
        font-family: inherit;
        font-size: 1.1em;
    }
    
    header ul.last-links {
        display: flex;
        padding: 0;
        margin: 0;
        margin-left: 5%;
        width: 40%;
        justify-content: space-between;
        align-items: center;
    }
    
    header ul.last-links > li {
        list-style: none;
        width: 80%;
    }
    
    header ul.last-links > li:nth-child(2) {
        width: 35%;
    }
    
    header ul.last-links li a {
        text-decoration: none;
        color: #C3C3C3;
        font-size: 0.9em;
    }
    
    header ul.last-links li a:hover {
        color: #e6b91e;
    }
    
    .search-bar-section .discovered-movies {
        position: absolute;
        background-color: #080808;
        margin-top: 24%;
        margin-left: 10em;
        width: 35em;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 3% 3%;
    }
}