.reviews {
    display: flex;
    flex-direction: column;
}

.reviews .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

.reviews .title .left h2 {
    padding: 0;
    margin: 0;
    color: #c3c3c3;
    font-size: 2em;
    font-weight: 400;
}

.reviews .title button, .reviews .title a {
    text-decoration: none;
    background-color: #151515;
    color: #797979;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 0.6em 1.3em;
}

.reviews .title button:hover {
    background-color: #272727;
}

.reviews .title .left {
    display: flex;
    align-items: center;
    width: 27%;
    justify-content: space-between;
}

.reviews .title .left a {
    background-color: #242424;
}

.reviews .title .left a:hover {
    background-color: #1d1d1d;
}

.reviews .review-boxes {
    display: flex;
    justify-content: space-between;
}








.no-reviews-yet {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}
