.reviews {
    display: flex;
    flex-direction: column;
}

.reviews .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

.reviews .title .left h2 {
    padding: 0;
    margin: 0;
    color: #c3c3c3;
    font-size: 2em;
    font-weight: 400;
}

.reviews .title button, .reviews .title a {
    text-decoration: none;
    background-color: #151515;
    color: #797979;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 0.6em 1.3em;
}

.reviews .title button:hover {
    background-color: #272727;
}

.reviews .title .left {
    display: flex;
    align-items: center;
    width: 27%;
    justify-content: space-between;
}

.reviews .title .left a {
    background-color: #242424;
}

.reviews .title .left a:hover {
    background-color: #1d1d1d;
}

.reviews .review-boxes {
    display: flex;
    justify-content: space-between;
}








.login-first {
    align-self: center;
    background-color: rgba(255, 0, 0, 0.527);
    padding: 0.5em 1em;
    font-size: 1em;
    color: rgb(224, 224, 224);
    border-radius: 3px;
}

.login-link {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    color: #121212;
    text-align: center;
    align-self: center;
    font-weight: 500;
    color: #f2c318;
}

.login-link:hover {
    color: #fff3c7;
}




.no-reviews-yet {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}





@media screen and (max-width: 600px) {
    .reviews {
        display: flex;
        flex-direction: column;
    }
    
    .reviews .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5em;
    }
    
    .reviews .title .left h2 {
        padding: 0;
        margin: 0;
        color: #c3c3c3;
        font-size: 1.4em;
        font-weight: 400;
    }
    
    .reviews .title button, .reviews .title a {
        text-decoration: none;
        background-color: #151515;
        color: #797979;
        border: none;
        border-radius: 10px;
        font-size: 1.1em;
        padding: 0.6em 1.3em;
    }
    
    .reviews .title button:hover {
        background-color: #272727;
    }
    
    .reviews .title .left {
        display: flex;
        align-items: center;
        width: 45%;
        justify-content: space-between;
    }
    
    .reviews .title .left a {
        background-color: #242424;
        font-size: 1em;
    }
    
    .reviews .title .left a:hover {
        background-color: #1d1d1d;
    }
    
    .reviews .review-boxes {
        display: flex;
        justify-content: space-between;
    }
    
    
    
    
    
    
    
    
    .login-first {
        align-self: center;
        background-color: rgba(255, 0, 0, 0.527);
        padding: 0.5em 1em;
        font-size: 1em;
        color: rgb(224, 224, 224);
        border-radius: 3px;
    }
    
    .login-link {
        text-decoration: none;
        border: none;
        border-radius: 10px;
        font-size: 1.1em;
        color: #121212;
        text-align: center;
        align-self: center;
        font-weight: 500;
        color: #f2c318;
    }
    
    .login-link:hover {
        color: #fff3c7;
    }
    
    
    
    
    .no-reviews-yet {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.6em;
    }
    
}