main {
    display: flex;
    padding: 2.5% 15%;
    justify-content: space-between;
}

main .left {
    width: 85%;
}




@media screen and (max-width: 600px) {
    main {
        display: flex;
        padding: 2.5% 15%;
        justify-content: space-between;
    }
    
    main .left {
        width: 100%;
    }
}