.movie-section {
    display: flex;
    margin-top: 2%
}

.card {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1%;
    background-color: #151515;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.movie-info {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.movie-info > p {
    color: #c3c3c3;
    font-size: 1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    
}

.movie-info .star-div .img-container {
    width: 6%;
    height: 90%;
    margin-right: 2%;
    display: flex;
}

.movie-info .star-div {
    display: flex;
}

.movie-info .star-div p {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #c3c3c3;
}

.movie-info a {
    background-color: #1c1c1c;
    border-radius: 10px;
    font-family: inherit;
    text-decoration: none;
    color: #C3C3C3;
    font-size: 1em;
    padding: 0.3em 1em;
    border-top: 3px solid #303030;
    width: 35%;
    font-weight: 300;
    overflow-anchor: auto;
    text-align: center;
    margin-top: 10%;
    
}

.movie-info img {
    width: 100%;
}






@media screen and (max-width: 600px) {
    .movie-section {
        display: flex;
        margin-top: 2%;
    }
    
    .card {
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 1%;
        background-color: #151515;
    }
    
    .card img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .movie-info {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .movie-info > p {
        color: #c3c3c3;
        font-size: 1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
        
    }
    
    .movie-info .star-div .img-container {
        width: 6%;
        height: 60%;
        margin-right: 2%;
        display: flex;
    }
    
    .movie-info .star-div {
        display: flex;
        align-items: center;
    }
    
    .movie-info .star-div p {
        padding: 0;
        margin: 0;
        font-size: 1em;
        color: #c3c3c3;
    }
    
    .movie-info a {
        background-color: #1c1c1c;
        border-radius: 10px;
        font-family: inherit;
        text-decoration: none;
        color: #C3C3C3;
        font-size: 0.8em;
        padding: 0.3em 1em;
        border-top: 3px solid #303030;
        width: 35%;
        font-weight: 300;
        overflow-anchor: auto;
        text-align: center;
        margin-top: 10%;
    }
    
    .movie-info img {
        width: 100%;
    }
}