.container {
    font-family: "Roboto", sans-serif;
    background-color: #0f0f10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.card {
    width: 70%;
    height: 90%;
    background-color: azure;
    border-radius: 2px !important;
}

.card-body {
    display: flex;
    align-items: center;
}

.title {
    color: #979797;
}

form {
    width: 70%;
}

.input-field {
    color: #797777 !important;
    width: 100% !important;
    background-color: rgba(180, 179, 179, 0.87) !important;
}

.input-field:focus {
    background-color: rgba(215, 218, 218, 0.87) !important;
    color: #0f0f10 !important;
    border-color: antiquewhite;
}

.row {
    display: flex;
    width: 100%;
}

.left {
    width: 60%;
}

.right {
    width: 35%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.image-logo {
    width: 100%;
}

.additional-link {
    display: flex;
}

.additional-link p {
    width: 34%;
    padding-right: 0;
    margin: 0;
}

.additional-link a {
    width: 30%;
    padding: 0;
}